.container {
	position: relative;;
}
.container .navi {
	position: absolute;
	top: 120px;
	z-index: 99;
	display: block;
	font-size: 60px;
}
.container .navi a {
	color: #ccc;
}
.container .navi a:hover {
	color: #333;
}
.container .pull-left {
	left: 10px;
}
.container .pull-right {
	right: 10px;
}
.table td {
	.pull-right()
}